@charset "utf-8";
/* Default */
*{margin: 0; padding: 0;}
html{height: 100%;}
body{overflow: hidden; height: 100%; font-family: ROCK,"\5FAE\8F6F\96C5\9ED1",helvetica,arial,sans-serif; font-size: 12px;}
img{border: none; vertical-align: top;}
ul{list-style: none;}
a{color: #007568; text-decoration: none;}
a:hover{color: #FF6600;}
textarea{border: #999 1px solid; background: #FFF; padding: 5px; overflow: hidden;}
input{outline: medium; vertical-align: middle;}
input:focus, textarea:focus{box-shadow: 0 0 6px rgba(153, 153, 153, 0.7);}

/* IE */
.isIE{position: absolute; z-index: 100; width: 100%; height: 100%; text-align: center; background-color: #3A3C3F; color: #FFF;}
.isIE p{position: absolute; top: 42%; left: 0; right: 0; font-size: 14px; line-height: 36px;}
.isIE b{font-size: 24px;}

/* INC */
.left{float: left;}.right{float: right;}.tleft{text-align: left;}.tright{text-align: right;}.center{text-align: center;}
.red{color: red;}.green{color: green;}.c1{color: #666;}.c2{color: #999;}
.input{float: left; height: 30px; line-height: 30px; border: #999 1px solid; background: #FFF; display: inline-block; padding: 0 5px;}
.inputText{float: left; height: 30px; line-height: 30px; padding: 0 5px;}
.Checkbox{float: left; margin-top: 8px;}
.noDisplay{display: none;}
.hideText{overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}

/* WebMIS */
label.error{float: left; line-height: 22px; padding: 5px 0;}
label.error em{float: left; padding-left: 5px;}

.autocomplete-suggestions{border: #DADCDF 1px solid; background-color: #FFF; text-indent: 10px; font-size: 12px;}
.autocomplete-suggestions div{padding: 6px 0;}
.autocomplete-suggestions div:hover{background-color: #F4F5F9;}

/* login */
.login_ct{position: absolute; z-index: 10; width: 360px; height: 240px; margin-left: -180px; margin-top: -100px; background: url(images/bg.png) rgba(255,255,255,0.7); box-shadow: 0 0 12px #000; top: 50%; left: 50%; border-radius: 6px;}
.login_ct h1{position: absolute; width: 100%; height: 36px; line-height: 36px; font-size: 60px; text-align: center; color: #FFF; margin-top: -60px;}
.login_list{padding: 20px 30px; height: calc(100% - 40px);}
.login_list li{padding: 3px 0;}
.login_input{display: inline-block; overflow: hidden; width: calc(100% - 2px); height: 36px; line-height: 36px; border: #999 1px solid;}
.login_input em{float: left; display: inline-block; width: 38px; height: 100%;}
.login_input .user{background: url(images/user.svg) no-repeat center center #F2F2F2; background-size: auto 50%;}
.login_input .passwd{background: url(images/passwd.svg) no-repeat center center #F2F2F2; background-size: auto 50%;}
.login_input input{float: left; width: calc(100% - 58px); height: 20px; border: none; border-radius: 0; padding: 8px 10px;}
.login_vcode .login_input{width: 180px;}
.login_vcode .login_input input{width: 70px;}
.login_input img{cursor: pointer; width: 90px; height: 100%;}
.login_uname{position: absolute; line-height: 25px; margin-left: 15px; margin-top: 8px;}
.login_uname input{float: left; margin-top: 6px;}
.login_submit{cursor: pointer; display: inline-block; width: 100%; height: 36px; line-height: 36px; margin-top: 10px; font-size: 14px; color: #FFF; text-align: center; box-shadow: 1px 1px 3px #BBB; border-radius: 3px;
	border: #3F9707 1px solid; background: #6FB737;
}
.login_submit:hover{border: #FF0000 1px solid; background: #FF6600;}
.login_copy{height: 36px; line-height: 36px; text-align: center; color: #FFF;}

/* Top */
.top_body{position: fixed; z-index: 10; width: 100%; height: 50px; background-color: #3D3D3D;}
.top_logo{float: left; width: 132px; height: 50px; background: url("images/logo.png") no-repeat center 12px; background-size: 88%; display: inline-block;}
.top_nav li{float: left; line-height: 50px;}
.top_nav li a{float: left; padding: 0 20px; text-align: center; display: inline-block;}
.top_nav li em{float: left; font-size: 28px;}
.top_nav li span{float: left; padding-left: 10px; font-size: 14px; display: none;}
.nav_an1{color: #DFE1E8; background-color: #6FB737;}
.nav_an1:hover{color: #DFE1E8;}
.nav_an1:hover span{display: block;}
.nav_an1 em{color: #DFE1E8;}
.nav_an2{color: #999;}
.nav_an2:hover{color: #BBB; background-color: #222;}
.nav_an2:hover span{display: block;}

.top_link{position: absolute; z-index: 1; height: 50px; color: #999; top: 0; right: 0; padding: 0 10px;}
.top_link span{float: left; line-height: 50px; margin: 0 5px;}
.top_link .uname{font-size: 14px; font-weight: bold;}
.top_link .icon{width: 50px; height: 50px; line-height: 50px; text-align: center; background-color: #222; border-radius: 25px;}
.top_link .icon.menu{display: none;}
.top_link .icon.menu em:before{content: "\e6a0"; font-size: 24px;}
.top_link .icon.user em:before{content: "\e6a1"; font-size: 24px;}
.top_link:hover{background-color: #222;}
.top_link:hover .icon{background-color: #6FB737;}
.top_link:hover em{color: #FFF;}
.top_link .info{display: none; position: absolute; z-index: 2; right: 0px; top: 50px; background-color: rgba(0,0,0,0.87); margin: 0;}
.top_link .info .ct{padding: 10px; line-height: 24px;}
.top_link .info a{float: left; display: inline-block; min-width: 200px; line-height: 36px; font-size: 14px; color: #6FB737; padding: 0 10px;}
.top_link .info a:hover{color: #FF6600; background-color: #3D3D3D;}
.top_link .info .btop{border-top: #3D3D3D 1px solid;}

/* Content */
.ct_body{overflow: hidden; height: 100%;}
.ct_top{height: 50px; overflow: hidden;}
.ct_left{overflow-y: auto; float: left; width: 200px; height: 100%; background: #F5F5F5; padding: 10px 0; box-shadow: -1px 0px 0px #CCC inset;}
.ct_left_bg{display: none; position: absolute; z-index: 1; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5);}
.ct_right{overflow-y: auto; height: 100%; background: #FFF; margin-left: 200px; padding: 10px;}

/* 响应式布局 */
@media screen and ( max-width: 768px ) {
	/* TOP */
	.top_link .uname{display: none;}
	.top_link .icon.menu{display: inline-block;}
	/* Left */
	.ct_left{display: none; position: absolute; z-index: 2;}
	.ct_right{margin-left: 0px;}
}
@media screen and ( max-width: 640px ) {
	/* TOP */
	.top_logo{width: 68px; background: url("images/logo_m.png") no-repeat center 12px; background-size: 66%;}
	/* Left */
	.ct_left{width: 205px;}
}
@media screen and ( max-width: 420px ) {
	/* TOP */
	.top_logo{display: none;}
	.top_nav{overflow: hidden; width: 1920px; transform:translate(0px);}
}

/* Left */
.left_title{cursor: pointer; width: 90%; padding: 5px 0; font-size: 12px; color: #999; font-weight: bold; border-bottom: #CCC 1px solid; box-shadow: 0 1px 0 #FFF; margin: 0 auto;}
.left_title em{color: #999; font-size: 14px; padding-right: 5px;}
.left_list{padding: 5px 0;}
.left_list li a{font-size: 13px; display: block; overflow: hidden; padding: 3px 10px;}
.left_list li a em{float: left; position: relative; font-size: 18px;}
.left_list li a span{float: left; padding-left: 5px;}

.left_an1{color: #6FB737; background: #FFF; border-top: #CCC 1px solid; border-bottom: #CCC 1px solid;}
.left_an1:hover{color: #6FB737;}
.left_an1 em{color: #6FB737;}
.left_an2{color: #333; border-top: #F5F5F5 1px solid; border-bottom: #F5F5F5 1px solid;}
.left_an2:hover{background: #EEE; color: #6FB737; border-right: #6FB737 1px solid;}
.left_an2 em{color: #666;}
.left_an2:hover em{color: #6FB737;}

/* Action */
.action{width: 100%; line-height: 32px; display: inline-block; overflow: hidden; border: #DADCDF 1px solid; border-radius: 4px 0 0 4px; box-shadow: 1px 1px 1px #EEE;
	background:-moz-linear-gradient(top, #FFF,#F5F5F5);
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#F5F5F5));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF,endColorstr=#F5F5F5,grandientType=1);
}
.action .title{float: left; display: block; font-weight: bold; border-right: #DADCDF 1px solid; background-color: #FFF; color: #999; padding: 0 10px; box-shadow: 0 1px 0 #DADCDF;}
.action a{float: left; padding: 0 8px; display: inline-block; overflow: hidden; color: #333;}
.action a em{float: left; font-size: 18px;}
.action a span{float: left; padding-left: 2px;}
.action a:hover{background-color: #6FB737; color: #FFF;}
.action a:hover em{color: #FFF;}
.actionM{overflow: hidden;}
.actionM div{overflow: hidden; width: 1920px; transform:translate(0px);}

/* Checkbox */
#checkboxY,#checkboxN{font-family: 'iconfont'; font-style: normal; font-size: 18px; color: #6FB737;}
#checkboxN{display: none;}
#checkboxY:before {content: "\e6a5";}
#checkboxN:before {content: "\e6a4";}

/* Page */
.page{height: 60px; line-height: 60px; text-align: center; color: #999; padding-bottom: 20px;}
.page a,.page span{padding: 3px 5px; margin: 0 4px;}

/* Table */
.table_list{width: 100%; border-collapse: collapse; text-align: center; border-top: #6FB737 2px solid; background: #FFF; margin-top: 5px;}
.table_list td{border-top: #DADCDF 1px solid; border-bottom: #DADCDF 1px solid; line-height: 20px; padding: 6px 5px;}
.table_list .title{color: #999; background: #F8F8F8;}

.table_add{width: 100%; border-collapse: collapse;}
.table_add td{line-height: 20px; padding: 5px;}
.table_add .width{width: 90px;}
.table_add .sub{padding: 10px 5px;}
.table_add h2{font-size: 14px; color: #666; padding: 5px 0; border-bottom: #DADCDF 1px solid;}
.table_add h3{font-size: 12px; color: #999;}

.table_show{width: 98%; border-collapse: collapse; margin: 0 auto; font-size: 13px;}
.table_show td{padding: 4px 5px;}
.table_show .tright{color: #999;}
.table_show .sub{padding: 30px;}
.table_show .an{padding: 10px 30px; border: #BBB 1px solid; background-color: #F2F2F2; color: #666; border-radius: 3px; box-shadow: 1px 1px 2px #CCC;}
.table_show .an:hover{border: #6FB737 1px solid; background-color: #6FB737; color: #FFF;}

/* ICO */
.ico-qrcode:before {content: "\e6ab";}

.ico-home:before {content: "\e69a";}
.ico-system:before {content: "\e67f";}
.ico-web:before {content: "\e692";}
.ico-logs:before {content: "\e699";}
.ico-help:before {content: "\e6a3";}

.ico-disktop:before {content: "\e6a0";}
.ico-user:before {content: "\e6a1";}
.ico-user1:before {content: "\e690";}
.ico-pwd:before {content: "\e698";}

.ico-system1:before {content: "\e67f";}
.ico-system2:before {content: "\e680";}
.ico-menu:before {content: "\e68f";}
.ico-menuA:before {content: "\e693";}
.ico-admin:before {content: "\e6a2";}
.ico-fileM:before {content: "\e69d";}

.ico-logs1:before {content: "\e689";}

.ico-db:before {content: "\e682";}

/* Action */
.ico-list:before {content: "\e689";}
.ico-search:before {content: "\e69b";}
.ico-add:before {content: "\e68b";}
.ico-edit:before {content: "\e684";}
.ico-del:before {content: "\e68a";}
.ico-audit:before {content: "\e693";}
.ico-chart:before {content: "\e68d";}
.ico-exp:before {content: "\e6a8";}
.ico-imp:before {content: "\e6a7";}

/* File */
.ico-back:before {content: "\e675";}
.ico-folder:before {content: "\e69d";}
.ico-file:before {content: "\e69c";}
