@charset "utf-8";

/* 初始化 */
*{margin: 0; padding: 0;}
html,body{height: 100%;}
body,textarea{font-family: ROCK,"\5FAE\8F6F\96C5\9ED1",helvetica,arial,sans-serif; font-size: 12px;}
ul{list-style-type: none;}
img{border: none; vertical-align: top;}
a{color: #007568; text-decoration: none;}
a:hover{color: #FF6600;}

/* 字体图标 */
@font-face {
	font-family: 'iconfont';
	src: url('fonts/iconfont.eot');
	src: url('fonts/iconfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/iconfont.woff') format('woff'),
	url('fonts/iconfont.ttf') format('truetype'),
	url('fonts/iconfont.svg#iconfont') format('svg');
}
em{color: #6FB737; font-family: 'iconfont'; font-style: normal; font-size: 16px;}

/* Color */
.red{color: red;}
.green{color: green;}

/* 提示图标 */
.suc{padding-left: 20px;}
.suc,.err{color: #6FB737;}
.suc em,.err em{position: absolute; margin-left: -20px;}
.suc em:before {color: #6FB737; content: "\e6a5";}
.err{color: #FF6600;}
.err em:before {color: #FF6600; content: "\e6a4";}

/* 提示信息 */
.webmis_info{text-align: center; padding-top: 50px;}

/* 隔行变色 */
.webmis_odd_bg1{background: #F4F7FA;}
.webmis_odd_bg2{background: #E2ECF7;}
.webmis_odd_bg3{background: #E2ECF7;}

/* 按钮样式 */
.webmis_bottom{cursor: pointer; display: inline-block; height: 34px; line-height: 34px; font-size: 14px; padding: 0 30px; border-radius: 3px; box-shadow: 1px 1px 3px #BBB; color: #FFF;
	border: #3F9707 1px solid; background: #6FB737;
}
.webmis_bottom:hover{border: #FF0000 1px solid; background: #FF6600;}

/* 下拉菜单 */
.webmis_select{float: left; margin-right: 8px; padding: 2px 3px; height: 32px; line-height: 32px;}

/* Win */
.webmis_win_bg{display: none; position: absolute; z-index: 99; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5);}
.webmis_win{position: absolute; width: calc(100% - 20px); height: calc(100% - 20px); left: 50%; top: 40%; background-color: #FFF; box-shadow: 0 0 12px #000; border-radius: 3px;}
.webmis_win_title{overflow: hidden; height: 32px; line-height: 32px;}
.webmis_win_title b{float: left; padding: 0 10px; color: #666; font-size: 14px;}
.webmis_win_title em{cursor: pointer; position: absolute; right: 0; top: 0; height: 32px; line-height: 32px; padding: 0 10px; color: #666; background-color: #FFF; border-radius: 3px;}
.webmis_win_title em:hover{color: #FF6600;}
.webmis_win_title em:before {content: "\e6a9";}
.webmis_win_tabs a{display:  inline-block; cursor: pointer; padding: 0 10px; background-color: #F2F4F6; color: #333; border-left: #CCC 1px solid; box-shadow: 1px 0 0 #CCC;}
.webmis_win_tabs a:hover{color: #6FB737;}
.webmis_win_tabs .an{background-color: #6FB737; color: #FFF;}
.webmis_win_tabs .an:hover{color: #FFF;}
.webmis_win_ct{width: 100%; height: calc(100% - 34px); overflow-y: auto; border-top: #DADCDF 1px solid;}
.webmis_win_load{height: 100%; background: url('images/onLoad.gif') no-repeat center center;}

/* Validform */
input.error{border: #FF6600 1px solid;}
label.error{color: #FF6600; padding-left: 3px; font-size: 12px;}
label.error em{padding-left: 3px; font-size: 14px;}
label.error em:before {content: "\e6a9"; color: #FF6600;}
label.checked .suc:before {content: "\e6aa"; color: #6FB737;}